@model IEnumerable<Inmobiliaria.Models.Contratos>

@{ ViewData["Title"] = "Filtrados"; }

<h2>Filtrados</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                <label>ID Contrato</label>
            </th>
            <th>
                <label>Inquilino</label>
            </th>
            <th>
                <label>Direccion Inmueble</label>
            </th>
            <th>
                <label>Tipo Inmueble</label>
            </th>
            <th>
                <label>Fecha Inicio</label>
            </th>
            <th>
                <label>Fecha Cierre</label>
            </th>
            <th>
                <label>Importe</label>
            </th>
            <th>
                <label>Vigente</label>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in (IList<Contratos>)ViewBag.Filtrados)
        {
<tr>
    <td>
        @item.IdContr
    </td>
    <td>
        @(item.Inquilinos.Nombre + " " + item.Inquilinos.Apellido)

    </td>
    <td>
        @item.Inmuebles.Direccion
    </td>
    <td>
        @item.Inmuebles.Tipo
    </td>
    <td>
        @item.FechaInicio
    </td>
    <td>
        @item.FechaCierre
    </td>
    <td>
        @item.Monto
    </td>
    <td>
        @item.Vigente
    </td>
    <td>
        @Html.ActionLink("Edit", "Editar", new { id = item.IdContr }) |
        
        @Html.ActionLink("Delete", "Eliminar", new { id = item.IdContr })                
    </td>
</tr>}
    </tbody>
</table>
