@model IEnumerable<Inmobiliaria.Models.Contratos>

@{
    ViewData["Title"] = "Lista de Contratos";
}

<h1>Contratos</h1>

<p>
    <a asp-action="Create">Agregar Nuevo Contrato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdContr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vigente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdContr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdInq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdInm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vigente)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdContr}) |
                @Html.ActionLink("Detalles", "Details", new { id=item.IdContr }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.IdContr })
            </td>
        </tr>
}
    </tbody>
</table>
