@model IEnumerable<Inmobiliaria.Models.Contratos>

@{
    ViewData["Title"] = "Ver";
}

<h2>Ver</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.Id">Agregar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdContr)
            </th>
            <th>Inquilino</th>
            <th>
                @Html.DisplayNameFor(model => model.IdInm)
            </th>
            <th>Ubicacion Inmueble</th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vigente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Inquilinos.Nombre) @Html.DisplayFor(modelItem => item.Inquilinos.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inmuebles.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vigente)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdContr }) |
                @Html.ActionLink("Ver Pagos", "Ver", "Pagos", new { id=item.IdContr }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.IdContr })
            </td>
        </tr>
}
    </tbody>
</table>
