@model IEnumerable<Inmobiliaria.Models.Inmuebles>
@{ ViewData["Title"] = "Filtrados"; }

<h2>Filtrados</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>Propietario</label>
            </th>
            <th>
                <label>Direccion</label>
            </th>
            <th>
                <label>Tipo</label>
            </th>
            <th>
                <label>Uso</label>

            </th>
            <th>
                <label>Cantidad de Ambientes</label>

            </th>
            <th>
                <label>Costo</label>
            </th>
            <th>
                <label>Disponible</label>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (IList<Inmuebles>)ViewBag.Filtrados)
        {
<tr>
    <td>
        @(item.Propietarios.Nombre + " " + item.Propietarios.Apellido)
    </td>
    <td>
        @item.Direccion
    </td>
    <td>
        @item.Tipo
    </td>
    <td>
        @item.Uso
    </td>
    <td>
        @item.CantAmbientes
    </td>
    <td>
        @item.Costo
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Disponible)
    </td>
</tr>}
    </tbody>
</table>

